.content{
   margin: 50px;
   font-size: 1.4rem
}
.title{
    margin-top: 30px;
}

.imagesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .image {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }