.title {
  margin: 0;
}

.order {
 margin: 15px;
  display: inline-block;
  align-items: center;
}


.container {
  margin-top: 50px;

}

.selectores {
  display: block;
}

.label{
  margin-bottom: 5px;
}