.container{  
    display: inline-block;
    width : 40%;
    margin-top: 25px;
    padding: 20px;
}

.select{
    width: 250px;
    text-align-last: center;
    border-radius: 6px;
    margin-bottom: 15px
}

.button{
  margin-top: 15px
}

.button:hover {
    color: black;
    background-color: gray;
    cursor: pointer;
}

.inputText{
    border-radius: 6px;
    margin-bottom: 15px;
    width: 250px
}

.containerCountries{
    width: 250px;
    text-align-last: center;
}

select[multiple]:focus option:checked {
    background: rgb(0, 0, 0) linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}


