.container{
    /* display: flex;  */
   /* position: relative;
   text-align: center; */
}

.searchButton{
    cursor: pointer;
    background: none;
    height: 30px;
    border: none;
}

.searchButton:hover{
    background-color: rgba(248, 248, 255, 0.637);
    opacity: 0.7;
}

.inputSearch{
    border-radius: 8px;
    margin-bottom: 35px;
    height: 25px;
    width: 250px
}