.inputSearch {
  border-radius: 8px;
  margin-bottom: 35px;
  margin-top: 0;
}

.searchButton {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
    margin-top: 50px;
    height: 100px;

}
