.inputSearch {
  border-radius: 8px;
  margin-bottom: 35px;
  height: 30px;
  width: 200px;
  margin-top: 0;
}

.searchButton {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
    margin-top: 50px;
    height: 100px;
    border-bottom: 3px solid;
    height: 200px;
}
