.container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: ghostwhite;
   justify-content: center;
}

.country{
  display: flex;
  justify-content: space-around;
}

.button{
  margin-top: 15px
}

.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(44, 39, 39);
}

