.container{
    justify-content: space-between;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(40, 152, 185) 0%, rgba(237,237,237,1) 100%, rgb(255, 255, 255) 100%);
    border-bottom: 3px solid #f73b99;
}

.imgHome{
    margin-left: 30px;
}

.menu{
    margin-right: 30px;
    display: flex;
}

.option{
    margin: 15px;
    font-size: 1.2rem
}

.buttonMenu{
  /* border-left: 2px solid white;   */
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

.buttonMenu:hover{
    background-color: rgba(248, 248, 248, 0.411);
}

.logo{
    margin-left: 20px;
    width: 80px
}

.title{
    color: white;
}

.containerLogo{
    display: flex;
    align-items: center;
}